.main {
	padding: 50px 50px;

	display: flex;

	.saved-box {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.saved {
			display: flex;
			margin: 15px 0;
			gap: 10px;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h3{
				background-color:rgb(209, 252, 252);
				padding: 5px 15px;
				border: 1px solid black;
				border-radius: 8px;
				cursor: pointer;
			}
		}
	}

	.info-text,
	.info-img {
		flex: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.info-text {
		.all-data {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			gap: 20px;
			font-size: 1.2rem;

			.data-box {
				display: flex;
				// justify-content: center;
				align-items: center;
				gap: 15px;

				img {
					width: 20px;
					height: 22px;
					cursor: pointer;
				}

				i {
					width: 20px;
				}

				div {
					display: flex;
					gap: 17px;
				}

				.loader-img {
					width: 25px;
					animation: rotation 1.5s infinite linear;
				}
			}
		}
	}

	.info-img {
		text-align: center;

		#result-weather-text {
			margin: 10px 0;
			font-size: 1.3rem;
		}
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
