@use "./components/nav";
@use "./components/main";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

html {
	font-family: "Roboto Slab", serif;
}

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;

	width: 80%;
	max-width: 1780px;

	margin: 30px auto;

	box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

@media (max-width: 1600px) {
	.wrapper {
		width: 85%;
	}
}

@media (max-width: 1400px) {
	.wrapper {
		width: 90%;
	}
}

@media (max-width: 1200px) {
	.wrapper {
		width: 95%;
	}
}

@media (max-width: 992px) {
	.wrapper {
		width: 95%;
		flex-direction: column;
		margin: 15px auto;
	}
}

@media (max-width: 576px) {
	.wrapper {
		margin: 0;
		width: 100%;
		box-shadow: none;
	}
}
