.container {
  max-width: 1280px;
  width: 80%;
  height: 100%;
  margin: auto;
}

header {
  max-width: 1760px;
  width: 100%;
  height: 80px;
  margin: auto;
  border-bottom: 1px solid rgb(232, 232, 232);
}
header .container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}
header .container .img-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  flex: 1;
}
header .container .img-box img {
  width: 110px;
  height: 34px;
}
header .container .search-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  flex: 1;
}
header .container .search-box .search {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 100px;
  padding: 7px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}
header .container .search-box .search:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}
header .container .search-box .search #search-text {
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
}
header .container .search-box .search .fa-magnifying-glass {
  color: white;
  background-color: #ff385c;
  font-size: 14px;
  padding: 8px;
  border-radius: 100%;
}
header .container .menu-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center !important;
  flex: 1;
}
header .container .menu-box .menu-btn {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px;
  margin-left: 5px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 21px;
  padding: 5px;
}
header .container .menu-box .menu-btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}
header .container .menu-box .menu-btn .fa-circle-user {
  font-size: 30px;
  color: rgb(122, 122, 122);
}
header .container .menu-box .menu-btn .fa-bars {
  font-size: 16px;
  padding: 0 8px;
}
header .container .menu-box #host-text,
header .container .menu-box .fa-globe {
  border-radius: 22px;
  padding: 14px;
}
header .container .menu-box #host-text:hover,
header .container .menu-box .fa-globe:hover {
  cursor: pointer;
  background-color: rgb(246, 246, 246);
}

@media (max-width: 1100px) {
  header .container .search-box,
header .container .menu-box {
    flex: 2;
  }
}
@media (max-width: 900px) {
  header .container .img-box {
    flex: 0;
    margin-right: 15px;
  }
  header .container .img-box img {
    content: url("../../img/logo.png");
    width: 38px;
    height: auto;
  }
  header .container .search-box .search {
    gap: 80px;
  }
  header .container .menu-box {
    flex: 0;
  }
  header .container .menu-box #host-text {
    display: none;
  }
}
@media (max-width: 567px) {
  header .container .search-box .search {
    justify-content: flex-end !important;
    width: 100%;
  }
  header .container .search-box .search #search-text {
    display: none;
  }
}
@media (max-width: 400px) {
  header .search-box .search {
    gap: 20px;
  }
}
main .container .heading-and-images .heading-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-top: 24px;
}
main .container .heading-and-images .heading-box .name-and-info-box .heading {
  color: #222222 !important;
}
main .container .heading-and-images .images-box {
  padding-top: 24px;
}

footer {
  width: 100%;
  background-color: #f7f7f7;
}
footer .container {
  padding: 48px 0;
}
footer .hr-div {
  border-bottom: 1px solid rgb(232, 232, 232);
}
footer .location-options .container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  text-align: start;
}
footer .location-options .container .options {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  flex-wrap: wrap;
  min-height: 120px;
  margin: 48px 0 24px 0;
}
footer .location-options .container .options .option {
  width: 284px;
  height: 40px;
}
footer .location-options .container .options .option a {
  text-decoration: none;
  color: #717171;
}
footer .location-options .container .nav-breadcrumb a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
footer .location-options .container .nav-breadcrumb a:hover {
  text-decoration: underline;
}
footer .footer-links .container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}
footer .footer-links .container .support,
footer .footer-links .container .community,
footer .footer-links .container .hosting,
footer .footer-links .container .airbnb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 262px;
}
footer .footer-links .container .support .links,
footer .footer-links .container .community .links,
footer .footer-links .container .hosting .links,
footer .footer-links .container .airbnb .links {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  gap: 20px;
  font-size: 14px;
}
footer .footer-links .container .support .links a,
footer .footer-links .container .community .links a,
footer .footer-links .container .hosting .links a,
footer .footer-links .container .airbnb .links a {
  text-decoration: none;
  color: black;
}
footer .footer-links .container .support .links a:hover,
footer .footer-links .container .community .links a:hover,
footer .footer-links .container .hosting .links a:hover,
footer .footer-links .container .airbnb .links a:hover {
  text-decoration: underline;
}
footer .footer-menu .container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 24px 0;
}
footer .footer-menu .container a {
  text-decoration: none;
  color: black;
}
footer .footer-menu .container a:hover {
  cursor: pointer;
  text-decoration: underline;
}
footer .footer-menu .container .left-menu {
  font-size: 14px;
}
footer .footer-menu .container .right-menu {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center !important;
  gap: 30px;
}
footer .footer-menu .container .right-menu .language {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center !important;
  gap: 10px;
}
footer .footer-menu .container .right-menu .language .fa-globe {
  cursor: pointer;
}
footer .footer-menu .container .right-menu .social-media {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center !important;
  gap: 25px;
}
footer .footer-menu .container .right-menu .social-media .fa-facebook-f,
footer .footer-menu .container .right-menu .social-media .fa-twitter,
footer .footer-menu .container .right-menu .social-media .fa-instagram-square {
  font-size: 20px;
}
footer .footer-menu .container .right-menu .social-media .fa-facebook-f:hover,
footer .footer-menu .container .right-menu .social-media .fa-twitter:hover,
footer .footer-menu .container .right-menu .social-media .fa-instagram-square:hover {
  cursor: pointer;
}

@media (max-width: 1350px) {
  footer .location-options .container .options .option {
    width: 150px;
  }
  footer .footer-links .container {
    gap: 20px !important;
  }
  footer .footer-links .container .support,
footer .footer-links .container .community,
footer .footer-links .container .hosting,
footer .footer-links .container .airbnb {
    width: 100%;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-bottom: 20px;
  }
  footer .footer-links .container .support .links,
footer .footer-links .container .community .links,
footer .footer-links .container .hosting .links,
footer .footer-links .container .airbnb .links {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    gap: 15px 50px !important;
  }
  footer .footer-links .container .airbnb {
    border: none;
    padding-bottom: 0;
  }
}
@media (max-width: 1100px) {
  footer .footer-menu .container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px;
    text-align: center;
  }
}
@media (max-width: 1420px) {
  footer .location-options .container .options .option {
    width: 262px;
  }
  footer .footer-links .container {
    gap: 0;
  }
}
@media (max-width: 600px) {
  footer .footer-links .container .support .links,
footer .footer-links .container .community .links,
footer .footer-links .container .hosting .links,
footer .footer-links .container .airbnb .links {
    flex-direction: column !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 2000px;
}

img {
  width: 100px;
}

/*# sourceMappingURL=styles.css.map */
