.container {
  max-width: 1280px;
  width: 80%;
  height: 100%;
  margin: auto;
}

header {
  max-width: 1760px;
  width: 100%;
  height: 80px;
  margin: auto;
  border-bottom: 1px solid rgb(232, 232, 232);
}
header .container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}
header .container .img-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  flex: 1;
}
header .container .img-box img {
  width: 110px;
  height: 34px;
  cursor: pointer;
}
header .container .search-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  flex: 1;
}
header .container .search-box .search {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 100px;
  padding: 7px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}
header .container .search-box .search:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}
header .container .search-box .search #search-text {
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
}
header .container .search-box .search .fa-magnifying-glass {
  color: white;
  background-color: #ff385c;
  font-size: 14px;
  padding: 8px;
  border-radius: 100%;
}
header .container .menu-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center !important;
  flex: 1;
}
header .container .menu-box .menu-btn {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px;
  margin-left: 5px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 21px;
  padding: 5px;
}
header .container .menu-box .menu-btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}
header .container .menu-box .menu-btn .fa-circle-user {
  font-size: 30px;
  color: rgb(122, 122, 122);
}
header .container .menu-box .menu-btn .fa-bars {
  font-size: 16px;
  padding: 0 8px;
}
header .container .menu-box #host-text,
header .container .menu-box .fa-globe {
  border-radius: 22px;
  padding: 14px;
}
header .container .menu-box #host-text:hover,
header .container .menu-box .fa-globe:hover {
  cursor: pointer;
  background-color: rgb(246, 246, 246);
}

@media (max-width: 1100px) {
  header .container .search-box,
header .container .menu-box {
    flex: 2;
  }
}
@media (max-width: 900px) {
  header .container .img-box {
    flex: 0;
    margin-right: 15px;
  }
  header .container .img-box img {
    content: url("../../img/logo.png");
    width: 38px;
    height: auto;
  }
  header .container .search-box .search {
    gap: 80px;
  }
  header .container .menu-box {
    flex: 0;
  }
  header .container .menu-box #host-text {
    display: none;
  }
}
@media (max-width: 567px) {
  header .container .search-box .search {
    justify-content: flex-end !important;
    width: 100%;
  }
  header .container .search-box .search #search-text {
    display: none;
  }
}
@media (max-width: 400px) {
  header .search-box .search {
    gap: 20px;
  }
}
main .heading-and-images .container .heading-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: flex-end !important;
  padding-top: 24px;
}
main .heading-and-images .container .heading-box .name-and-info-box {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  gap: 10px;
}
main .heading-and-images .container .heading-box .name-and-info-box .heading {
  color: #222222 !important;
}
main .heading-and-images .container .heading-box .name-and-info-box .info {
  font-size: 14px;
}
main .heading-and-images .container .heading-box .name-and-info-box .info .fa-star {
  font-size: 15px;
}
main .heading-and-images .container .heading-box .name-and-info-box .info a {
  color: black;
  font-weight: bold;
}
main .heading-and-images .container .heading-box .share-and-save-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  gap: 10px;
}
main .heading-and-images .container .heading-box .share-and-save-box .share-box,
main .heading-and-images .container .heading-box .share-and-save-box .save-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
}
main .heading-and-images .container .heading-box .share-and-save-box .share-box a,
main .heading-and-images .container .heading-box .share-and-save-box .save-box a {
  font-size: 14px;
  color: black;
}
main .heading-and-images .container .heading-box .share-and-save-box .share-box:hover,
main .heading-and-images .container .heading-box .share-and-save-box .save-box:hover {
  cursor: pointer;
  background-color: rgb(246, 246, 246);
}
main .heading-and-images .container .images-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px;
  padding-top: 24px;
  position: relative;
}
main .heading-and-images .container .images-box img {
  width: 100%;
  cursor: pointer;
  vertical-align: bottom;
  object-fit: cover;
  filter: brightness(100%);
}
main .heading-and-images .container .images-box img:hover {
  color: black;
  filter: brightness(88%);
  transition: filter 0.2s ease-in;
}
main .heading-and-images .container .images-box .main-img {
  flex: 2;
}
main .heading-and-images .container .images-box .main-img img {
  height: 560px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main .heading-and-images .container .images-box .second-img-col,
main .heading-and-images .container .images-box .third-img-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}
main .heading-and-images .container .images-box .second-img-col img,
main .heading-and-images .container .images-box .third-img-col img {
  height: 276px;
}
main .heading-and-images .container .images-box .third-img-col img:first-child {
  border-top-right-radius: 10px;
}
main .heading-and-images .container .images-box .third-img-col img:last-child {
  border-bottom-right-radius: 10px;
}
main .heading-and-images .container .images-box .all-photos-btn {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
  position: absolute;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  font-size: 14px;
  padding: 7px 15px;
  bottom: 30px;
  right: 30px;
}
main .heading-and-images .container .images-box .all-photos-btn:hover {
  cursor: pointer;
  background-color: rgb(246, 246, 246);
}

@media (max-width: 1250px) {
  main .heading-and-images .container .images-box .third-img-col {
    display: none;
  }
  main .heading-and-images .container .images-box .second-img-col img:first-child {
    border-top-right-radius: 10px;
  }
  main .heading-and-images .container .images-box .second-img-col img:last-child {
    border-bottom-right-radius: 10px;
  }
}
@media (max-width: 900px) {
  main .heading-and-images .container {
    width: 90%;
  }
  main .heading-and-images .container .images-box .second-img-col {
    display: none;
  }
  main .heading-and-images .container .images-box .main-img img {
    border-radius: 10px;
  }
}
@media (max-width: 760px) {
  main .heading-and-images .container {
    width: 95%;
  }
}
main .reviews {
  margin: 48px 0;
}
main .reviews .container .overall-rating {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 5px;
  margin-bottom: 32px;
}
main .reviews .container .overall-rating span {
  font-size: 22px;
}
main .reviews .container .ratings {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 120px;
  margin-bottom: 46px;
}
main .reviews .container .ratings .left-box,
main .reviews .container .ratings .right-box {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 20px;
  width: 450px;
}
main .reviews .container .ratings .left-box .rating-box,
main .reviews .container .ratings .right-box .rating-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  gap: 20px;
  width: 100%;
}
main .reviews .container .ratings .left-box .rating-box .title,
main .reviews .container .ratings .right-box .rating-box .title {
  font-size: 16px;
}
main .reviews .container .ratings .left-box .rating-box .rating,
main .reviews .container .ratings .right-box .rating-box .rating {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
main .reviews .container .ratings .left-box .rating-box .rating .rating-bar-box,
main .reviews .container .ratings .right-box .rating-box .rating .rating-bar-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  width: 120px;
  height: 25px;
}
main .reviews .container .ratings .left-box .rating-box .rating .rating-bar-box .rating-bar-full,
main .reviews .container .ratings .right-box .rating-box .rating .rating-bar-box .rating-bar-full {
  width: 120px;
  background-color: rgb(232, 232, 232);
}
main .reviews .container .ratings .left-box .rating-box .rating .rating-bar-box .rating-bar-full .rating-bar,
main .reviews .container .ratings .right-box .rating-box .rating .rating-bar-box .rating-bar-full .rating-bar {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-radius: 2px;
}
main .reviews .container .ratings .left-box .rating-box .rating .rating-stars,
main .reviews .container .ratings .right-box .rating-box .rating .rating-stars {
  width: 28px;
  text-align: end;
}
main .reviews .container .ratings .left-box .rating-box .rating .rating-stars span,
main .reviews .container .ratings .right-box .rating-box .rating .rating-stars span {
  font-size: 14px;
}
main .reviews .container .review-comments {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 120px;
}
main .reviews .container .review-comments .comment {
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 72px;
  font-size: 16px;
}
main .reviews .container .review-comments .review-comment {
  margin-bottom: 40px;
}
main .reviews .container .review-comments .name-and-image {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 20px;
  margin-bottom: 16px;
}
main .reviews .container .review-comments .name-and-image .img-box img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  cursor: pointer;
  vertical-align: bottom;
  object-fit: cover;
}
main .reviews .container .review-comments .name-and-image .name-and-date p {
  color: #717171;
  font-size: 14px;
}
main .reviews .container .review-comments .left-box {
  max-width: 460px;
}
main .reviews .container .review-comments .right-box {
  max-width: 460px;
}
main .reviews .container .show-all-reviews .show-all-reviews-btn {
  border: 1px solid black;
  border-radius: 8px;
  padding: 13px 23px;
  width: fit-content;
  cursor: pointer;
  font-weight: bold;
}
main .reviews .container .show-all-reviews .show-all-reviews-btn:hover {
  background-color: rgb(246, 246, 246);
}

main .map {
  margin: 48px 0;
}
main .map .container iframe {
  width: 100%;
  height: 480px;
  border: none;
  margin: 24px 0;
}
main .map .container h3 {
  margin-bottom: 16px;
}
main .map .container .show-more {
  margin-top: 16px;
  cursor: pointer;
  width: fit-content;
}
main .map .container .show-more a,
main .map .container .show-more span {
  font-weight: bold;
  color: black;
}

@media (max-width: 900px) {
  main .map .container {
    width: 90%;
  }
}
main .host-info {
  padding: 48px 0;
}
main .host-info .container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
main .host-info .container .host {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 20px;
  margin-bottom: 24px;
}
main .host-info .container .host .host-img {
  position: relative;
}
main .host-info .container .host .host-img #hostImg {
  border-radius: 100%;
  width: 67px;
}
main .host-info .container .host .host-img #medalImg {
  position: absolute;
  width: 25px;
  bottom: 2px;
  right: -5px;
}
main .host-info .container .host .name-and-date {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 10px;
}
main .host-info .container .host .name-and-date span {
  font-size: 14px;
}
main .host-info .container .info {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: space-between !important;
  width: 85%;
  gap: 50px;
}
main .host-info .container .info .info-left {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 25px;
  max-width: 460px;
}
main .host-info .container .info .info-left .medals {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 20px;
}
main .host-info .container .info .info-left .medals span {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 10px;
}
main .host-info .container .info .info-left .host-comment p {
  height: 79px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .host-info .container .info .info-left .during-your-stay p {
  height: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .host-info .container .info .info-right {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
main .host-info .container .info .info-right .number-info ul {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 16px;
  list-style: none;
}
main .host-info .container .info .info-right .contact-host {
  margin-top: 32px;
}
main .host-info .container .info .info-right .contact-host .contact-host-btn {
  padding: 13px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
}
main .host-info .container .info .info-right .contact-host .contact-host-btn:hover {
  background-color: rgb(246, 246, 246);
  cursor: pointer;
}
main .host-info .container .info .info-right .warning-info {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 15px;
  margin-top: 24px;
  max-width: 460px;
}
main .host-info .container .info .info-right .warning-info .fa-airbnb {
  font-size: 25px;
  color: #ff385c;
}
main .host-info .container .info .info-right .warning-info p {
  font-size: 14px;
}

@media (max-width: 1100px) {
  main .host-info .container .info {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: space-between !important;
  }
}
@media (max-width: 700px) {
  main .host-info .container .info {
    width: 100%;
  }
}
@media (max-width: 535px) {
  main .host-info .container .info .info-left .medals {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
  }
}
main .things-to-know {
  padding: 48px 0;
}
main .things-to-know .container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
}
main .things-to-know .container .heading {
  padding-bottom: 24px;
}
main .things-to-know .container .content {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 20px;
  flex-wrap: wrap;
}
main .things-to-know .container .content .house-rules,
main .things-to-know .container .content .health-and-safety,
main .things-to-know .container .content .cancellation-policy {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 10px;
  flex: 1;
  min-width: 220px;
}
main .things-to-know .container .content .house-rules h3,
main .things-to-know .container .content .health-and-safety h3,
main .things-to-know .container .content .cancellation-policy h3 {
  margin-bottom: 12px;
}
main .things-to-know .container .content .house-rules .rule,
main .things-to-know .container .content .house-rules .safety,
main .things-to-know .container .content .house-rules .policy,
main .things-to-know .container .content .health-and-safety .rule,
main .things-to-know .container .content .health-and-safety .safety,
main .things-to-know .container .content .health-and-safety .policy,
main .things-to-know .container .content .cancellation-policy .rule,
main .things-to-know .container .content .cancellation-policy .safety,
main .things-to-know .container .content .cancellation-policy .policy {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 12px;
  font-size: 16px;
}
main .things-to-know .container .content .house-rules .rule i,
main .things-to-know .container .content .house-rules .safety i,
main .things-to-know .container .content .house-rules .policy i,
main .things-to-know .container .content .health-and-safety .rule i,
main .things-to-know .container .content .health-and-safety .safety i,
main .things-to-know .container .content .health-and-safety .policy i,
main .things-to-know .container .content .cancellation-policy .rule i,
main .things-to-know .container .content .cancellation-policy .safety i,
main .things-to-know .container .content .cancellation-policy .policy i {
  font-size: 20px;
}
main .things-to-know .container .content .house-rules .show-more,
main .things-to-know .container .content .health-and-safety .show-more,
main .things-to-know .container .content .cancellation-policy .show-more {
  font-weight: bold;
  margin-top: 24px;
  cursor: pointer;
}
main .things-to-know .container .content .house-rules .show-more a,
main .things-to-know .container .content .house-rules .show-more span,
main .things-to-know .container .content .health-and-safety .show-more a,
main .things-to-know .container .content .health-and-safety .show-more span,
main .things-to-know .container .content .cancellation-policy .show-more a,
main .things-to-know .container .content .cancellation-policy .show-more span {
  color: #222222;
}

footer {
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid lightgray;
}
footer .container {
  padding: 48px 0;
}
footer .hr-div {
  border-bottom: 1px solid rgb(232, 232, 232);
}
footer .location-options .container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  text-align: start;
}
footer .location-options .container .options {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  flex-wrap: wrap;
  min-height: 120px;
  margin: 48px 0 24px 0;
}
footer .location-options .container .options .option {
  width: 284px;
  height: 40px;
}
footer .location-options .container .options .option a {
  text-decoration: none;
  color: #717171;
}
footer .location-options .container .nav-breadcrumb a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
footer .location-options .container .nav-breadcrumb a:hover {
  text-decoration: underline;
}
footer .footer-links .container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}
footer .footer-links .container .support,
footer .footer-links .container .community,
footer .footer-links .container .hosting,
footer .footer-links .container .airbnb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 262px;
}
footer .footer-links .container .support .links,
footer .footer-links .container .community .links,
footer .footer-links .container .hosting .links,
footer .footer-links .container .airbnb .links {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  gap: 20px;
  font-size: 14px;
}
footer .footer-links .container .support .links a,
footer .footer-links .container .community .links a,
footer .footer-links .container .hosting .links a,
footer .footer-links .container .airbnb .links a {
  text-decoration: none;
  color: black;
}
footer .footer-links .container .support .links a:hover,
footer .footer-links .container .community .links a:hover,
footer .footer-links .container .hosting .links a:hover,
footer .footer-links .container .airbnb .links a:hover {
  text-decoration: underline;
}
footer .footer-menu .container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 24px 0;
}
footer .footer-menu .container a {
  text-decoration: none;
  color: black;
}
footer .footer-menu .container a:hover {
  cursor: pointer;
  text-decoration: underline;
}
footer .footer-menu .container .left-menu {
  font-size: 14px;
}
footer .footer-menu .container .right-menu {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center !important;
  gap: 30px;
}
footer .footer-menu .container .right-menu .language {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center !important;
  gap: 10px;
}
footer .footer-menu .container .right-menu .language .fa-globe {
  cursor: pointer;
}
footer .footer-menu .container .right-menu .social-media {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center !important;
  gap: 25px;
}
footer .footer-menu .container .right-menu .social-media .fa-facebook-f,
footer .footer-menu .container .right-menu .social-media .fa-twitter,
footer .footer-menu .container .right-menu .social-media .fa-instagram-square {
  font-size: 20px;
}
footer .footer-menu .container .right-menu .social-media .fa-facebook-f:hover,
footer .footer-menu .container .right-menu .social-media .fa-twitter:hover,
footer .footer-menu .container .right-menu .social-media .fa-instagram-square:hover {
  cursor: pointer;
}

@media (max-width: 1350px) {
  footer .location-options .container .options .option {
    width: 150px;
  }
  footer .footer-links .container {
    gap: 20px !important;
  }
  footer .footer-links .container .support,
footer .footer-links .container .community,
footer .footer-links .container .hosting,
footer .footer-links .container .airbnb {
    width: 100%;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-bottom: 20px;
  }
  footer .footer-links .container .support .links,
footer .footer-links .container .community .links,
footer .footer-links .container .hosting .links,
footer .footer-links .container .airbnb .links {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    gap: 15px 50px !important;
  }
  footer .footer-links .container .airbnb {
    border: none;
    padding-bottom: 0;
  }
}
@media (max-width: 1100px) {
  footer .footer-menu .container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px;
    text-align: center;
  }
}
@media (max-width: 1420px) {
  footer .location-options .container .options .option {
    width: 262px;
  }
  footer .footer-links .container {
    gap: 0;
  }
}
@media (max-width: 600px) {
  footer .footer-links .container .support .links,
footer .footer-links .container .community .links,
footer .footer-links .container .hosting .links,
footer .footer-links .container .airbnb .links {
    flex-direction: column !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 2000px;
}

.hr-div {
  border-top: 1px solid rgb(221, 221, 221);
}

/*# sourceMappingURL=styles.css.map */
